<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="para-mi" text={{texto.regresar}} icon="chevron-back"></ion-back-button>
    </ion-buttons>

    <ion-title>{{texto.imagen}}</ion-title>

    <!--  
      <ion-buttons slot="end">
        <ion-button (click)="downloadFile()">{{texto.descargar}}</ion-button>
      </ion-buttons>
    -->
  </ion-toolbar>
</ion-header>

  <ion-content style="--background: url({{url}}) no-repeat center center / cover;">
</ion-content>
